forestDevelopmentProject.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2013 Designer Edition 11.1.0.4725 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns4="http://rosleshoz.gov.ru/xmlns/infoType/4.1"
           xmlns:ns1="http://rosleshoz.gov.ru/xmlns/commonType/4.1"
           xmlns:ns5="http://rosleshoz.gov.ru/xmlns/measuresType/4.1"
           xmlns:ns2="http://rosleshoz.gov.ru/xmlns/sTypes/4.1"
           xmlns:ns0="http://rosleshoz.gov.ru/xmlns/cTypes/4.2"
           xmlns:ns3="http://rosleshoz.gov.ru/xmlns/forestUseType/4.1"
           elementFormDefault="qualified"
           targetNamespace="http://rosleshoz.gov.ru/xmlns/forestDevelopmentProject/4.6"
           version="4.6"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--<xs:import schemaLocation="http://rosleshoz.gov.ru/xmlns/cTypes/4.2/cTypes.xsd"-->
    <xs:import schemaLocation="common\cTypes.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/cTypes/4.2" />
    <!--<xs:import schemaLocation="http://rosleshoz.gov.ru/xmlns/sTypes/4.1/sTypes.xsd"-->
    <xs:import schemaLocation="common\sTypes.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/sTypes/4.1" />
    <xs:import schemaLocation="common\commonType.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/commonType/4.1" />
    <xs:import schemaLocation="common\infoType.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/infoType/4.1" />
    <xs:import schemaLocation="common\measuresType.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/measuresType/4.1" />
    <xs:import schemaLocation="common\forestUseType.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/forestUseType/4.1" />
    <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDevelopmentProject/4.6"
                name="forestDevelopmentProject"
                type="q1:forestDevelopmentProject">
        <xs:annotation>
            <xs:documentation>Корневой элемент - "Проект освоения лесов"</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="forestDevelopmentProject">
        <xs:annotation>
            <xs:documentation>Описание проекта освоения лесов</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="serviceInfo"
                        type="ns0:serviceInfo" />
            <xs:element name="preamble">
                <xs:annotation>
                    <xs:documentation>Преамбула - титульный лист</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="position"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Описание местоположения лесного участка</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/sTypes/4.1"
                                    name="totalArea"
                                    type="q1:area">
                            <xs:annotation>
                                <xs:documentation>Площадь лесного участка, га</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="grounds"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Основание для предоставления лесного участка</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="usageType"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Описание видов использования лесов</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="contract"
                                    type="ns1:contractType">
                            <xs:annotation>
                                <xs:documentation>Описание правоустанавливающего документа</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="basisForChange"
                                    type="xs:string"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Основание для внесение изменений в ПОЛ</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="introduction"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Введение</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="row"
                                                type="ns1:contentRow"
                                                minOccurs="0"
                                                maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="cadastralNumber"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Кадастровый номер лесного участка, номер учетной записи в государственном лесном реестре</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="general">
                <xs:annotation>
                    <xs:documentation>I. Общие сведения</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="forestUser"
                                    type="ns1:descriptionPartner">
                            <xs:annotation>
                                <xs:documentation>Сведения о лице, использующем лесной участок</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="usageType"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Описание видов использования лесов</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDevelopmentProject/4.6"
                                    name="contract"
                                    type="ns1:contractType">
                            <xs:annotation>
                                <xs:documentation>Описание правоустанавливающего документа</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element xmlns:q2="http://rosleshoz.gov.ru/xmlns/forestDevelopmentProject/4.6"
                                    name="usePeriod"
                                    type="ns1:usePeriodType">
                            <xs:annotation>
                                <xs:documentation>Срок использования, лет</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="executiveAuthority"
                                    type="ns0:reference">
                            <xs:annotation>
                                <xs:documentation>Сведения об органе государственной власти или органе местного самоуправления, предоставившем лесной участок в аренду или постоянное (бессрочное) пользование, установившем сервитут или предусмотренный статьей 39.37 Земельного кодекса Российской Федерации, публичный сервитут
</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="regulations"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Перечень законодательных и иных нормативно-правовых актов, нормативно-технических, методических и проектных документов, на основе которых разработан проект освоения лесов</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="validityPeriod"
                                    type="xs:date">
                            <xs:annotation>
                                <xs:documentation>Срок действия проекта освоения лесов</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="developer"
                                    type="ns1:descriptionPartner">
                            <xs:annotation>
                                <xs:documentation>Разработчик проекта</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="yearForestManagement"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Год последнего лесоустройства</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="comments"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Комментарии к общим сведениям</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="row"
                                                type="ns1:contentRow"
                                                minOccurs="0"
                                                maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="info">
                            <xs:annotation>
                                <xs:documentation>Сведения о лесном участке</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="listQuartersTaxationUnit"
                                                type="ns4:listQuartersTaxationUnit"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Перечень предоставленных в аренду, постоянное(бессрочное) пользование, в отношении которых установлен сервитут или публичный сервитут, лесных кварталов, лесотаксационных выделов или их частей</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="distributionSpecialPurpose"
                                                type="ns4:distributionSpecialPurpose"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Распределение площади лесного участка по видам целевого назначения лесов на защитные (по их категориям), эксплуатационные и резервные леса</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="averageTaxationRates"
                                                type="ns4:averageTaxationRates"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Таксационная характеристика лесных насаждений на лесном участке</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="speciallyProtectedNaturalAreas"
                                                type="ns4:speciallyProtectedNaturalAreas"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика имеющихся в границах лесного участка особо охраняемых природных территорий и объектов (границы и режим особой охраны), мероприятия по сохранению объектов биоразнообразия</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="contamination"
                                                type="ns4:contamination"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о наличии загрязнения лесов (в том числе нефтяного, радиоактивного)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="rarePlantsAnimals"
                                                type="ns4:rarePlantsAnimals"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о наличии мест обитания редких и находящихся под угрозой исчезновения видов животных и мест произрастания редких и находящихся под угрозой исчезновения видов деревьев, кустарников, лиан и иных лесных растений</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="surveys"
                                                type="ns4:surveys"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о материалах специальных изысканий, исследований или иных специальных обследований (при наличии)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="encumbrances"
                                                type="ns4:encumbrances"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения об обременениях лесного участка</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="objects">
                            <xs:annotation>
                                <xs:documentation>Создание и эксплуатация лесной инфраструктуры</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="locationObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых объектов лесной инфраструктуры на лесном участке</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемый объем рубок лесных насаждений, при создании объектов лесной инфраструктуры</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="measures">
                            <xs:annotation>
                                <xs:documentation>Мероприятия по охране, защите и воспроизводству лесов</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicFireClasses"
                                                type="ns5:characteristicFireClasses"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика территории лесного участка по классам пожарной опасности</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="characteristicWaterObjects"
                                                type="ns5:characteristicWaterObjects"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика водных объектов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="designedFirePrevention"
                                                type="ns5:designedFirePrevention"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Обоснование и характеристика проектируемых видов, объемов и сроков выполнения мероприятий по противопожарному обустройству лесов с учетом объектов, созданных при использовании лесов в соответствии с лесохозяйственным регламентом лесничества, и их территориальное размещение
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="fireEquipment"
                                                type="ns5:fireEquipment"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о наличии и потребности в пожарной технике,оборудовании, снаряжении и инвентаре на лесном участке</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="prevention"
                                                type="ns5:prevention"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Обоснование и характеристика видов и объемов планируемых профилактических мероприятий по защите лесов, с указанием мест проведения профилактических мероприятий</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="fociHarmfulOrganisms"
                                                type="ns5:fociHarmfulOrganisms"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о наличии очагов вредных организмов на лесном участке, с указанием их местоположения и мероприятий,необходимых для ликвидации очагов вредных организмов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="damageDeath"
                                                type="ns5:damageDeath"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о повреждении и гибели лесов на начало действия проекта освоения лесов с указанием их местоположения
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="sanitaryRecreationalMeasures"
                                                type="ns5:sanitaryRecreationalMeasures"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Обоснование и характеристика видов и объемов планируемых санитарно-оздоровительных мероприятий на лесном участке, с указанием мест проведения санитарно-оздоровительных мероприятий</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="zonesRadioactiveContamination"
                                                type="ns5:zonesRadioactiveContamination"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Обоснование и характеристика проектируемых видов и объемов защитных мероприятий в зонах радиоактивного загрязнения (если таковые имеются)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="listTaxationUnitRadioactiveZone"
                                                type="ns5:listTaxationUnitRadioactiveZone"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, входящих в зоны радиоактивного загрязнения (если таковые имеются), с указанием ограничений по видам использования лесных участков и заготовки лесных ресурсов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="areaNeedReforestation"
                                                type="ns5:areaNeedReforestation"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Площадь земель, нуждающихся в лесовосстановлении</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="reforestationPlan"
                                                type="ns5:reforestationPlan"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Плановые способы и объемы лесовосстановления</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="listReforestation"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых планируются мероприятия по лесовосстановлению</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="ns5:listReforestation">
                                                    <xs:attribute name="number"
                                                                  type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>Номер таблицы</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:attribute>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="listForestCare"
                                                type="ns5:listForestCare"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых планируются мероприятия по лесовосстановлению</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="areaForestCare"
                                                type="ns5:areaForestCare"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Площадь лесов, нуждающихся в уходе за лесами, проектируемые виды и ежегодные объемы ухода за лесами при воспроизводстве лесов, не связанные с заготовкой древесины</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="listProtection"
                                                type="ns5:listProtection"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируются мероприятия по охране объектов животного и растительного мира, водных объектов
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="forestUse"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>II. Организация использования лесов (по виду разрешенного использования лесов)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="woodHarvesting"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Заготовка древесины</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDevelopmentProject/4.6"
                                                name="volumeCuttingsWood"
                                                type="ns3:volumeCuttingsWood"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Установленный объем заготовки древесины на лесном участке</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationCuttingsWood"
                                                type="ns3:locationCuttingsWood"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется заготовка древесины</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="resinHarvesting"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Заготовка живицы</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="technologies"
                                                type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемые технологии проведения работ по заготовке живицы</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeResourceResin"
                                                type="ns3:volumeResourceResin"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Фонд заготовки живицы</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationResourceResin"
                                                type="ns3:locationResourceResin"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, проектируемых для заготовки живицы</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="nonTimberResourcesHarvesting"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Заготовка и сбор недревесных лесных ресурсов</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="technologies"
                                                type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемые технологии проведения работ по заготовке недревесных лесных ресурсов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeResource"
                                                type="ns3:volumeResource"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Фонд (биологический запас) недревесных лесных ресурсов и проектируемые ежегодные объемы заготовки недревесных лесных ресурсов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationResource"
                                                type="ns3:locationResource"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется заготовка недревесных лесных ресурсов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="foodForestrResourcesHarvesting"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Заготовка пищевых лесных ресурсов и сбор лекарственных растений</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristics"
                                                type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Общая характеристика видов пищевых лесных ресурсов и лекарственных растений, предусмотренная лесохозяйственным регламентом лесничества</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="technologies"
                                                type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемые технологии проведения работ по заготовке пищевых лесных ресурсов и сбору лекарственных растений с указанием сроков и допустимого объема их заготовки и сбора (%) от фонда (биологического запаса)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeResource"
                                                type="ns3:volumeResource"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Фонд (биологический запас) пищевых лесных ресурсов и лекарственных растений и проектируемые ежегодные объемы заготовки пищевых лесных ресурсов и сбора</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationResource"
                                                type="ns3:locationResource"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется заготовка пищевых лесных ресурсов и сбор лекарственных растений</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="hunting"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Осуществление видов деятельности в сфере охотничьего хозяйства</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется создание объектов охотничьей инфраструктуры и связанные с их созданием рубки лесных насаждений</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeMeasure"
                                                type="ns3:volumeMeasure"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется проведение биотехнических мероприятий</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="agriculture"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Ведение сельского хозяйства</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="technologies"
                                                type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика проектируемых технологий ведения сельского хозяйства</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeResource"
                                                type="ns3:volumeResource"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Основные проектируемые параметры использования лесов для ведения сельского хозяйства
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeMeasure"
                                                type="ns3:volumeMeasure"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируются мероприятия по ведению сельского хозяйства</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="fishing"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Использование лесов для осуществления рыболовства</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Обоснование и характеристика проектируемых видов и объемов работ по возведению на лесном участке некапитальных строений, сооружений, необходимых для осуществления рыболовства
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых некапитальных строений и сооружений на лесном участке при использовании лесов для осуществления рыболовства</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="researchActivities"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Осуществление научно-исследовательской деятельности,образовательной деятельности</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о программе научно-исследовательской или образовательной деятельности на лесном участке с обоснованием и характеристикой проектируемых видов и объемов работ</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeMeasure"
                                                type="ns3:volumeMeasure"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется осуществление мероприятий по научно-исследовательской и/или образовательной деятельности и проектируемый объем рубок лесных насаждений, проводимых в целях научно-исследовательской, образовательной деятельности</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="recreation"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Осуществление рекреационной деятельности</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="treeRegister"
                                                type="ns3:treeRegister"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость учета деревьев на лесном участке для осуществления рекреационной деятельности</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationCapitalObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых объектов капитального строительства, не связанных с созданием лесной инфраструктуры, на лесном участке при использовании лесов для рекреационной деятельности</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationNonCapitalObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых некапитальных строений и сооружений, не связанных с созданием лесной инфраструктуры, на лесном участке при использовании лесов для рекреационной деятельности</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Объем рубок лесных насаждений на лесном участке при создании объектов капитального строительства, не связанных с созданием лесной инфраструктуры при использовании лесов для рекреационной деятельности</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="forestPlantations"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Создание лесных плантаций и их эксплуатация</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемов работ по созданию лесных плантаций и их эксплуатации, технология создания и эксплуатации лесных плантаций
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationWork"
                                                type="ns3:locationWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется создание лесных плантаций и их эксплуатация</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="forestNurseries"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Создание лесных питомников и их эксплуатация</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения об обосновании и характеристиках проектируемых
технологий по выращиванию посадочного материала лесных
растений (саженцев, сеянцев), проектируемом объеме и видах
мероприятий, направленных на соблюдение технологий
по выращиванию посадочного материала лесных растений
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationWork"
                                                type="ns3:locationWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется
создание лесных питомников и их эксплуатация
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="plantGrowing"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Выращивание лесных плодовых, ягодных, декоративных растений, лекарственных растений</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемов работ по выращиванию лесных плодовых, ягодных, декоративных растений, лекарственных растений; характеристика проектируемых технологий</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeMeasure"
                                                type="ns3:volumeMeasure"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Ведомость лесотаксационных выделов, в которых проектируется выращивание лесных плодовых, ягодных, декоративных и лекарственных растений
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="geology"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Выполнение работ по геологическому изучению недр, разведке и добыче полезных ископаемых</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемов работ, при использовании лесов в целях геологического изучения недр, разведки и добычи полезных ископаемых</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых объектов, строений и сооружений при использовании лесов в целях геологического изучения недр, разведки и добычи полезных ископаемых</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемый объем рубок лесных насаждений на лесном участке при создании объектов, строений и сооружений для геологического изучения недр, разведки и добычи полезных ископаемых</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationMeasure"
                                                type="ns3:locationMeasure"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о рекультивации нарушенных при геологическом изучении недр, разведке и добыче полезных ископаемых земель на лесном участке при выполнении работ по геологическому изучению недр, разведке и добыче полезных ископаемых, а также подвергшихся нефтяному или иному загрязнению и подлежащих рекультивации</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="hydrology"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Строительство и эксплуатация водохранилищ и иных искусственных водных объектов, создание и расширение территорий морских и речных портов, строительство, реконструкция и эксплуатация гидротехнических сооружений</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемов работ по строительству и эксплуатации водохранилищ и иных искусственных водных объектов, созданию и расширению территорий морских и речных портов, строительству, реконструкции и эксплуатации гидротехнических сооружений</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых объектов,строений и сооружений при строительстве и эксплуатации водохранилищ и иных искусственных водных объектов, создании и расширении территорий морских и речных портов, строительстве, реконструкции и эксплуатации гидротехнических сооружений на лесном участке</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемый объем рубок лесных насаждений на лесном участке при строительстве и эксплуатации водохранилищ и иных искусственных водных объектов, создании и расширении территорий морских и речных портов,строительстве, реконструкции и эксплуатациигидротехнических сооружений</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="linearObjects"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Строительство, реконструкция, эксплуатация линейных объектов</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемов работ по строительству, реконструкции,эксплуатации линейных объектов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых объектов,строений и сооружений при строительстве, реконструкции,эксплуатации линейных объектов на лесном участке</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемый объем рубок лесных насаждений на лесном участке, предназначенном для строительства,реконструкции, эксплуатации линейных объектов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="timberProcessing"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Создание и эксплуатация объектов лесоперерабатывающей инфраструктуры</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:characteristicsWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемов работ по переработке древесины и иных лесных ресурсов</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="locationObject"
                                                type="ns3:locationObject"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Характеристика существующих и проектируемых объектов лесоперерабатывающей инфраструктуры</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="volumeCuttings"
                                                type="ns3:volumeCuttings"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Проектируемый объем рубок лесных насаждений на лесном участке, предназначенном для создания объектов лесоперерабатывающей инфраструктуры</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="surveyWork"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>Изыскательские работы</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="characteristicsWork"
                                                type="ns3:surveyWork"
                                                minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Сведения о характеристиках и обосновании проектируемых видов и объемах проектируемых изыскательских работ</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attachments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="file"
                                    type="ns0:file"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
